body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.2px;
    margin: 0px;
}

.nav {
    margin-bottom: 50px;
    padding: 15px;
}

.navHeaderText {
    margin: 0px 20px 0px 20px;
    font-size: 26px;
    font-weight: bold;
    transition: 0.5s;
}

.navBtns, .navBtn, .navHeaderImg {
    display: inline-block;
}

.navBtns, .navHeaderText {
    position: relative;
    top: 4px;
}

.navBtns {
    
}

.navBtn {
    width: 150px;
    text-align: center;
    font-size: 16px;
    margin: 0px 12.5px;
    height: 38px;
    line-height: 38px;
    transition: 0.8s;
}

/* .navBtn {
    background-color: white;
    transition: 0.5s;
} */

.navBtn a {
    color: black;
    text-decoration: none;
    font-weight: lighter;
}

.navBtn:hover {
    /* background-color: rgba(211, 211, 211, 0.4); */
    /* background-color: rgb(200, 91, 90, 0.4); */
    background-color: rgb(246, 231, 98, 0.4);
    border-radius: 10px;
    transition: 0.3s;
}

.pc, .helpContent, .getStartedContent {
    font-size: 17px;
    line-height: 1.5;
    margin: 15px;
}

.helpContent {

}

.getStartedContent {
    
}

.footerContainer {
    background-color: rgb(211, 211, 211, 0.5);
    padding: 15px;
    margin-top: 100px;
    box-shadow: 0px -6px 24px rgba(0, 0, 0, 0.15);
}